/* Universal selector */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* The borders and the paddings are no longer added to the total width or total height that we specify for the box */
    box-sizing: inherit;
}

$primary-color: #34495e;
$text-color: #fff;
$border-color: #2980b9;
$popup-primary-color: #2980b9;

body {
    background-color: $primary-color;
    color: $text-color;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    overflow: hidden;
    h1{
        margin: 2rem 0 0;
        margin-bottom: 1rem;
    }
}


.figure{
    &__container{
        fill: transparent;
        stroke:$text-color;
        stroke-width: 4px;
        stroke-linecap: round;
        margin-bottom: 3rem;
    }
    
    &__part{
        display: none;
    }
}

.game{
    padding: 2rem 3rem;
    position: relative;
    margin: auto;
    width: 400px;
    &__container{


        &-word{

        }
    }


    &__wrong-letters-container{
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        text-align: right;
        p{
            margin: 0 0 5px;
        }
        span{
            font-size: 2.4rem;
        } 
    }

    &__container-word{
        display: flex;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);

    }
}

.letter{
    border-bottom: 3px solid $border-color;
    display: inline-flex;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    height: 50px;
    width: 20px;
}

.popup{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    &__container{
        background-color: $popup-primary-color;
        border-radius: 5px;
        box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
        padding: 2rem;
        text-align: center;
    } 

    &__play_again-btn{
        cursor: pointer;
        font-size: 1.6rem;
        background-color: #fff;
        color: $popup-primary-color;
        border: 0;
        margin-top: 20px;
        padding: 12px 20px;
        transition: all .2s;
        &:active{
            transform: scale(0.98);
        }
        &:focus{
            outline: none;
        }
    }
}

.notification{
    &__container{
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 10px 10px 0 0;
        padding: 15px 20px;
        position: absolute;
        bottom: -50px;
        transition: transform 0.3s ease-in-out;
        
        p {
          margin: 0;
        }
    }
}


.show {
    transform: translateY(-300px);
}